.project {
  margin-top: 2rem;
  width: 95%;
  height: 150px;
  background-color: var(--light);
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: .2s ease;
  color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: bold;
}

.project1 {
  background-image: url(snake1.png);
  
}

a {
  text-decoration: none;
  color: black;
}

 


.projects_{
  transition-property : background-color ;
  transition-duration: 1s; 
}

.projects_:hover {
  background-color : black;
  color: white;
}

.project1:hover {
  
  transform: scale(1.05);
  color: var(--light);
}

